.specialists {
  display: flex;
  justify-content: center;
}

.specialist {
  padding: 15px 15px 15px 15px;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  text-align: center;
  font-size: 18px;
  line-height: 24px;
}

.specialist__photo {
  border-bottom: 5px solid #008ad2;
  height: 211px;;
}

.specialist__position {
  color: #58546b;
  margin: 10px 0;
}

.specialist__name {
  color: #58546b;
  font-weight: bold;
  margin: 5px 0;
}

@media screen and (max-width: 576px) {
  .specialist {
    font-size: 16px;
    line-height: 18px;
  }
}