.container {
  width: 312px;
  margin: auto;
}

@media (min-width: 576px) {
  .container {
    width: 560px;
  }
}

@media (min-width: 768px) {
  .container {
    width: 752px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 976px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1184px;
  }
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -8px;
  margin-right: -8px;
}

.col-xs-1, .col-xs-2, .col-xs-3,
.col-xs-4, .col-xs-5, .col-xs-6,
.col-xs-7, .col-xs-8, .col-xs-9,
.col-xs-10, .col-xs-11, .col-xs-12 {
  padding-left: 8px;
  padding-right: 8px;
  box-sizing: border-box;
}

.col-xs-1 {flex-basis: 8.3333%;}
.col-xs-2 {flex-basis: 16.6667%;}
.col-xs-3 {flex-basis: 24.9999%;}
.col-xs-4 {flex-basis: 33.33333%;}
.col-xs-5 {flex-basis: 41.6667%;}
.col-xs-6 {flex-basis: 50%;}
.col-xs-7 {flex-basis: 58.33333%;}
.col-xs-8 {flex-basis: 66.6667%;}
.col-xs-9 {flex-basis: 75%;}
.col-xs-10 {flex-basis: 83.33333%;}
.col-xs-11 {flex-basis: 91.6667%;}
.col-xs-12 {flex-basis: 100%;}

@media (min-width: 576px) {
  .col-md-1 { flex-basis: 8.3333%;}
  .col-md-2 { flex-basis: 16.6667%;}
  .col-md-3 { flex-basis: 24.9999%;}
  .col-md-4 { flex-basis: 33.33333%;}
  .col-md-5 { flex-basis: 41.6667%;}
  .col-md-6 { flex-basis: 50%;}
  .col-md-7 { flex-basis: 58.33333%;}
  .col-md-8 { flex-basis: 66.6667%;}
  .col-md-9 { flex-basis: 75%;}
  .col-md-10 { flex-basis: 83.33333%;}
  .col-md-11 { flex-basis: 91.6667%;}
  .col-md-12 { flex-basis: 100%;}
}

@media (min-width: 768px) {
  .col-md-1 { flex-basis: 8.3333%;}
  .col-md-2 { flex-basis: 16.6667%;}
  .col-md-3 { flex-basis: 24.9999%;}
  .col-md-4 { flex-basis: 33.33333%;}
  .col-md-5 { flex-basis: 41.6667%;}
  .col-md-6 { flex-basis: 50%;}
  .col-md-7 { flex-basis: 58.33333%;}
  .col-md-8 { flex-basis: 66.6667%;}
  .col-md-9 { flex-basis: 75%;}
  .col-md-10 { flex-basis: 83.33333%;}
  .col-md-11 { flex-basis: 91.6667%;}
  .col-md-12 { flex-basis: 100%;}
}
  
@media (min-width: 992px) {
  .col-lg-1 {flex-basis: 8.3333%;}
  .col-lg-2 {flex-basis: 16.6667%;}
  .col-lg-3 {flex-basis: 24.9999%;}
  .col-lg-4 {flex-basis: 33.33333%;}
  .col-lg-5 {flex-basis: 41.6667%;}
  .col-lg-6 {flex-basis: 50%;}
  .col-lg-7 {flex-basis: 58.33333%;}
  .col-lg-8 {flex-basis: 66.6667%;}
  .col-lg-9 {flex-basis: 75%;}
  .col-lg-10 {flex-basis: 83.33333%;}
  .col-lg-11 {flex-basis: 91.6667%;}
  .col-lg-12 {flex-basis: 100%;}
}
  
@media (min-width: 1200px) {
  .col-xl-1 {flex-basis: 8.3333%;}
  .col-xl-2 {flex-basis: 16.6667%;}
  .col-xl-3 {flex-basis: 24.9999%;}
  .col-xl-4 {flex-basis: 33.33333%;}
  .col-xl-5 {flex-basis: 41.6667%;}
  .col-xl-6 {flex-basis: 50%;}
  .col-xl-7 {flex-basis: 58.33333%;}
  .col-xl-8 {flex-basis: 66.6667%;}
  .col-xl-9 {flex-basis: 75%;}
  .col-xl-10 {flex-basis: 83.33333%;}
  .col-xl-11 {flex-basis: 91.6667%;}
  .col-xl-12 {flex-basis: 100%;}
}