.container {
  width: 1184px;
  margin: auto;
}

@media screen and (max-width: 1280px) {
  .container {
    width: 976px;
  }
}

@media screen and (max-width: 1024px) {
  .container {
    width: 100%;
  }
}

@media screen and (max-width: 876px) {
  .container {
    width: 100%;
  }
}

@media screen and (max-width: 576px) {
  .container {
    width: 100%;
  }
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.col-xl-1, .col-xl-2, .col-xl-3,
.col-xl-4, .col-xl-5, .col-xl-6,
.col-xl-7, .col-xl-8, .col-xl-9,
.col-xl-10, .col-xl-11, .col-xl-12 {
  box-sizing: border-box;
}

.col-xl-1 {flex-basis: 8.3333%;}
.col-xl-2 {flex-basis: 16.6667%;}
.col-xl-3 {flex-basis: 24.9999%;}
.col-xl-4 {flex-basis: 33.33333%;}
.col-xl-5 {flex-basis: 41.6667%;}
.col-xl-6 {flex-basis: 50%;}
.col-xl-7 {flex-basis: 58.33333%;}
.col-xl-8 {flex-basis: 66.6667%;}
.col-xl-9 {flex-basis: 75%;}
.col-xl-10 {flex-basis: 83.33333%;}
.col-xl-11 {flex-basis: 91.6667%;}
.col-xl-12 {flex-basis: 100%;}
 
@media screen and (max-width: 1280px) {
  .col-lg-1 {flex-basis: 8.3333%;}
  .col-lg-2 {flex-basis: 16.6667%;}
  .col-lg-3 {flex-basis: 24.9999%;}
  .col-lg-4 {flex-basis: 33.33333%;}
  .col-lg-5 {flex-basis: 41.6667%;}
  .col-lg-6 {flex-basis: 50%;}
  .col-lg-7 {flex-basis: 58.33333%;}
  .col-lg-8 {flex-basis: 66.6667%;}
  .col-lg-9 {flex-basis: 75%;}
  .col-lg-10 {flex-basis: 83.33333%;}
  .col-lg-11 {flex-basis: 91.6667%;}
  .col-lg-12 {flex-basis: 100%;}
}
  
@media screen and (max-width: 1024px) {
  .col-md-1 {flex-basis: 8.3333%;}
  .col-md-2 {flex-basis: 16.6667%;}
  .col-md-3 {flex-basis: 24.9999%;}
  .col-md-4 {flex-basis: 33.33333%;}
  .col-md-5 {flex-basis: 41.6667%;}
  .col-md-6 {flex-basis: 50%;}
  .col-md-7 {flex-basis: 58.33333%;}
  .col-md-8 {flex-basis: 66.6667%;}
  .col-md-9 {flex-basis: 75%;}
  .col-md-10 {flex-basis: 83.33333%;}
  .col-md-11 {flex-basis: 91.6667%;}
  .col-md-12 {flex-basis: 100%;}
}

@media screen and (max-width: 876px) {
  .col-sm-1 { flex-basis: 8.3333%;}
  .col-sm-2 { flex-basis: 16.6667%;}
  .col-sm-3 { flex-basis: 24.9999%;}
  .col-sm-4 { flex-basis: 33.33333%;}
  .col-sm-5 { flex-basis: 41.6667%;}
  .col-sm-6 { flex-basis: 50%;}
  .col-sm-7 { flex-basis: 58.33333%;}
  .col-sm-8 { flex-basis: 66.6667%;}
  .col-sm-9 { flex-basis: 75%;}
  .col-sm-10 { flex-basis: 83.33333%;}
  .col-sm-11 { flex-basis: 91.6667%;}
  .col-sm-12 { flex-basis: 100%;}
}

@media screen and (max-width: 576px) {
  .col-xs-1 { flex-basis: 8.3333%;}
  .col-xs-2 { flex-basis: 16.6667%;}
  .col-xs-3 { flex-basis: 24.9999%;}
  .col-xs-4 { flex-basis: 33.33333%;}
  .col-xs-5 { flex-basis: 41.6667%;}
  .col-xs-6 { flex-basis: 50%;}
  .col-xs-7 { flex-basis: 58.33333%;}
  .col-xs-8 { flex-basis: 66.6667%;}
  .col-xs-9 { flex-basis: 75%;}
  .col-xs-10 { flex-basis: 83.33333%;}
  .col-xs-11 { flex-basis: 91.6667%;}
  .col-xs-12 { flex-basis: 100%;}
}
