body {
  font-family: "Arial", sans-serif;
}

.block_light-blue {
  background: #d7e8f8;
}

.logo {
  padding: 36px 0 20px 39px;
  width: 221px;
  height: 45px;
}

@media screen and (max-width: 576px) {
  .logo {
    padding-left: 15px;
  }
}

.social-media {
  display: flex;
  justify-content: center;
  height: 100%;
  align-items: flex-end;
}

@media screen and (max-width: 576px) {
  .social-media {
    
    align-items: center;
    justify-content: flex-start;
    padding-left: 10px;
  }
}

.social-media__item {
  padding: 8px;
}

.header__contacts  {
  padding-bottom: 5px;
  font-size: 14px;
}

.block_blue {
  background: #008ad2;
}

.contact-list {
  color: #ffffff;
}

.contact-list__item {
  display: flex;
  align-items: flex-start;
  padding: 20px 25px 10px 25px;
  line-height: 18px;
}

@media screen and (max-width: 1024px) {
  .contact-list__item {
    padding-left: 50px;
  }
}

@media screen and (max-width: 576px) {
  .contact-list__item {
    padding: 10px 25px 10px 20px;
  }
}

.contact-list__icon {
  padding-right: 10px;
}

.contact-list__spoiler {
  padding-left: 10px;
}

.main-content {
  background: #fcfdff;
  padding: 15px 0 85px;
}

@media screen and (max-width: 576px) {
  .main-content {
    padding-bottom: 40px;
  }
}

.main-nav {
  padding: 0 25px;
}

.main-nav__list {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.main-nav__item {
  display: flex;
  text-transform: uppercase;
  font-size: 18px;
  padding-top: 15px;
  padding-bottom: 15px;
}

@media screen and (max-width: 867px) {
  .main-nav__item {
    font-size: 16px;
  }
}

@media screen and (max-width: 576px) {
  .main-nav__item {
    justify-content: flex-start;
    font-size: 14px;
  }
}

.main-nav__link {
  text-decoration: none;
  border-right: 1px solid #58546d;
  color: #008ad2;
}

@media screen and (max-width: 867px) {
  .main-nav__link {
    border: none;
  }
}

.main-nav__link_right {
  border: none;
}

.main-nav__arrow {
  display: inline-block;
  background: url("../img/arrow.png") no-repeat;
  width: 15px;
  height: 10px;
  margin: 5px 16px 2px 12px;
}

.banner {
  position: relative;
}

.banner__img {
  width: 100%;
  border-bottom: 10px solid #008ad2;
}

.feedback-btn {
  display: flex;
  position: absolute;
  top: 0;
  right: 0;
  background: #008ad2;
  border: none;
  padding: 0;
  cursor: pointer;
}

.feedback-btn__icon {
  background: #52658d;
  padding: 8px 10px;
}

.feedback-btn__title {
  text-transform: uppercase;
  color: #ffffff;
  font-size: 12px;
  padding: 9px 11px;
}

.women {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.women__item {
  padding: 16px 40px;
}

@media screen and (max-width: 576px) {
  .women__item {
    padding: 10px 10px;
  }
}

.calcs__head {
  text-transform: uppercase;
  font-size: 40px;
  font-weight: bold;
  line-height: 48px;
  color: #51648c;
  text-align: center;
  padding: 10px;
}

@media screen and (max-width: 867px) {
  .calcs__head {
    font-size: 36px;
    line-height: 30px;
  }
}

@media screen and (max-width: 576px) {
  .calcs__head {
    font-size: 24px;
    line-height: 26px;
  }
}

.calc {
  margin: 30px 0;
}

.calc__title {
  position: relative;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: bold;
  line-height: 36px;
  background: #008ad2;
  padding-left: 75px;
  cursor: pointer;
}

@media screen and (max-width: 867px) {
  .calc__title {
    font-size: 18px;
  }
}

@media screen and (max-width: 576px) {
  .calc__title {
    font-size: 16px;
    padding-left: 10px;
    line-height: 22px;
  }
}

.calc__title::before {
  position: absolute;
  content: "";
  background: url("../img/calc_left.png") no-repeat;
  width: 73px;
  height: 47px;
  top:-5px;
  left: 0;
}

@media screen and (max-width: 576px) {
  .calc__title::before {
    display: none;
  }
}

.calc__arrow {
  position: absolute;
  background: url("../img/arrow-calc.png") no-repeat;
  width: 21px;
  height: 12px;
  right: 28px;
  top: 15px;
}

@media screen and (max-width: 1280px) {
  .calc__arrow {
    right: 70px;
    top: 13px;
  }
}

@media screen and (max-width: 576px) {
  .calc__arrow {
    right: 20px;
    top: 27px;
    z-index: 1;
  }
}

.calc__total {
  position: relative;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: bold;
  line-height: 36px;
  background: #008ad2;
  z-index: 1;
  text-align: center;
}

@media screen and (max-width: 867px) {
  .calc__total {
    font-size: 18px;
  }
}

@media screen and (max-width: 576px) {
  .calc__total {
    font-size: 16px;
    line-height: 22px;
    z-index: 0;
    text-align: left;
    padding-left: 10px;
  }
}

.calc__total::after {
  position: absolute;
  content: "";
  background: url("../img/calc_right.png") no-repeat;
  width: 255px;
  height: 47px;
  right: 0;
  top: -5px;
  z-index: -1;
}

@media screen and (max-width: 576px) {
  .calc__total::after {
    display: none;
  }
}

.title {
  color: #58546b;
  font-size: 32px;
  font-weight: bold;
  line-height: 40px;
  text-align: center;
  background: #d7e8f8;
  margin-top: 15px;
}

@media screen and (max-width: 867px) {
  .title {
    font-size: 24px;
  }
}

@media screen and (max-width: 576px) {
  .title {
    font-size: 18px;
    line-height: 24px;
  }
}

.content {
  color: #58546b;
  font-size: 18px;
  line-height: 20px;
  text-align: center;
  padding: 20px;
}

@media screen and (max-width: 576px) {
  .content {
    font-size: 14px;
  }
}

.divider {
  border: 1px dashed #58546d;
}

.divider_header {
  border-color: #ffffff;
}

.divider_footer {
  border: 1px solid #008ad2;
  margin: 0;
}

.advantage {
  padding: 30px;
  text-align: center;
}

@media screen and (max-width: 576px) {
  .advantage {
    padding: 15px;
    font-size: 14px;
  }
}

.footer__menu  {
  padding: 15px;
  color: #ffffff;
}

.menu__list {
  padding-left: 20px;
}

@media screen and (max-width: 867px) {
  .menu__list {
    padding-left: 50px;
  }
}

@media screen and (max-width: 576px) {
  .menu__list {
    padding-left: 20px;
  }
}

.menu__item {
  line-height: 18px;
  padding-bottom: 10px;
  font-size: 14px;
  display: flex;
}

.menu__link {
  color: #ffffff;
  text-decoration: none;
  padding-left: 10px;
}

.footer__contacts {
  text-align: right;
  line-height: 20px;
}

@media screen and (max-width: 1280px) {
  .footer__contacts {
    text-align: left;
    padding-left: 50px;
  }
}

@media screen and (max-width: 576px) {
  .footer__contacts {
    padding-left: 20px;
    padding-top: 20px;
  }
}

.footer__address {
  position: relative;
  padding-left: 120px;
  text-align: left;
  line-height: 20px;
}

@media screen and (max-width: 1280px) {
  .footer__address {
    padding-left: 50px;
  }
}

@media screen and (max-width: 576px) {
  .footer__address {
    padding-left: 20px;
    padding-top: 20px;
  }
}

.address__location {
  position: absolute;
  background: url("../img/map_marker.png") no-repeat;
  width: 32px;
  height: 85px;
  top: -20px;
  left: 56px;
}

@media screen and (max-width: 1280px) {
  .address__location {
    display: none;
  }
}

.address__entrance {
  font-size: 12px;
}

.contacts__item  {
  padding-bottom: 10px;
}

@media screen and (max-width: 576px) {
  .contacts__item {
    padding-bottom: 5px;
    font-size: 14px;
  }
}

.contacts__phone {
  position: relative;
  padding-bottom: 15px;
}

@media screen and (max-width: 1280px) {
  .contacts__phone {
    padding-bottom: 10px;
  }
}

.contacts__phone::before {
  position: absolute;
  content: "";
  background: url("../img/tel_min.png") no-repeat;
  width: 34px;
  height: 89px;
  top: -20px;
  left: 90px;
}

@media screen and (max-width: 1280px) {
  .contacts__phone::before {
    display: none;
  }
}

.contacts__time {
  position: relative;
  padding-bottom: 32px;
}

@media screen and (max-width: 1280px) {
  .contacts__time {
    padding-bottom: 10px;
  }
}

.contacts__time::before {
  position: absolute;
  content: "";
  background: url("../img/clock_min.png") no-repeat;
  width: 29px;
  height: 67px;
  top: 0;
  left: 92px;
}

@media screen and (max-width: 1280px) {
  .contacts__time::before {
    display: none;
  }
}

.contacts__e-mail {
  position: relative;
}

.contacts__e-mail::before {
  position: absolute;
  content: "";
  background: url("../img/letter_min.png") no-repeat;
  width: 32px;
  height: 85px;
  top: 0;
  left: 92px;
}

@media screen and (max-width: 1280px) {
  .contacts__e-mail::before {
    display: none;
  }
}

.footer__logo {
  padding-bottom: 15px;
}

.logo_bottom {
  padding: 11px 30px 11px 20px;
}
