body {
  font-family: "Arial", sans-serif;
}

.logo-and-social {
  background: #d7e8f8;
}

.logo {
  padding: 36px 0 20px 39px;
  width: 221px;
  height: 45px;
}

@media screen and (max-width: 576px) {
  .logo {
    padding-left: 15px;
  }
}

.social-media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

@media screen and (max-width: 576px) {
  .social-media {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    padding-left: 10px;
  }
}

.social-media__link {
  padding: 8px 8px 15px 8px;
}

.address-block {
  padding-bottom: 5px;
  font-size: 14px;
}

.address-block {
  background: #008ad2;
}

.address {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 20px 25px 10px 25px;
  line-height: 18px;
  font-style: normal;
  color: #ffffff;
}

@media screen and (max-width: 1024px) {
  .address {
    padding-left: 50px;
    font-size: 12px;
  }
}

@media screen and (max-width: 576px) {
  .address {
    padding: 10px 25px 10px 20px;
  }
}

.address__icon {
  padding-right: 10px;
}

.address__text {
  color: #ffffff;
}

.address__dropdown {
  padding-left: 10px;
}

.address__dropdown:hover {
  opacity: 0.8;
}

.main-content {
  background: #fcfdff;
  padding: 0 0 85px;
}

@media screen and (max-width: 576px) {
  .main-content {
    padding-bottom: 40px;
  }
}

.menu {
  padding: 15px 25px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.menu__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-transform: uppercase;
  color: #008ad2;
  font-size: 18px;
  margin-top: 15px;
  margin-bottom: 15px;
  text-decoration: none;
  border-right: 1px solid #58546d;
}

.menu__link:last-child {
  border: none;
}

.menu__arrow {
  display: inline-block;
  background: url("../img/arrow.png") no-repeat;
  width: 15px;
  height: 9px;
  margin: 5px 16px 2px 12px;
}

.menu__link:hover {
  color: #d20000;
}

.menu__link:hover .menu__arrow {
  background-image: url("../img/arrow-hover.png");
}

@media screen and (max-width: 876px) {
  .menu__link {
    font-size: 16px;
    border: none;
  }
}

@media screen and (max-width: 576px) {
  .menu__link {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    font-size: 14px;
  }
}

.banner {
  position: relative;
}

.banner__img {
  width: 100%;
  border-bottom: 10px solid #008ad2;
}

.btn-primary {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: 0;
  right: 0;
  background: #008ad2;
  border: none;
  padding: 0;
  cursor: pointer;
}

.btn-primary__icon {
  background: #52658d;
  padding: 8px 10px;
}

.btn-primary__title {
  text-transform: uppercase;
  color: #ffffff;
  font-size: 12px;
  padding: 9px 11px;
}

.btn-primary:hover {
  background: #0295e4;
}

.btn-primary:hover .btn-primary__icon {
  background: #647cad;
}

.btn-primary:active {
  background: #006faa;
}

.btn-primary:active .btn-primary__icon {
  background: #4f6288;
}

.badges {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.badge {
  padding: 16px 40px;
}

@media screen and (max-width: 576px) {
  .badge {
    padding: 10px 10px;
  }
}

.title {
  text-transform: uppercase;
  font-size: 40px;
  font-weight: bold;
  line-height: 48px;
  color: #51648c;
  text-align: center;
  padding: 30px 10px 10px;
  padding-top: 30px;
}

@media screen and (max-width: 876px) {
  .title {
    font-size: 36px;
    line-height: 30px;
  }
}

@media screen and (max-width: 576px) {
  .title {
    font-size: 24px;
    line-height: 26px;
  }
}

.calc {
  margin: 30px 0;
}

.calc__title {
  position: relative;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: bold;
  line-height: 36px;
  background: #008ad2;
  padding-left: 75px;
  cursor: pointer;
}

@media screen and (max-width: 876px) {
  .calc__title {
    font-size: 18px;
  }
}

@media screen and (max-width: 576px) {
  .calc__title {
    font-size: 16px;
    padding-left: 10px;
    line-height: 22px;
  }
}

.calc__title::before {
  position: absolute;
  content: "";
  background: url("../img/calc_left.png") no-repeat;
  width: 73px;
  height: 47px;
  top: -5px;
  left: 0;
}

@media screen and (max-width: 576px) {
  .calc__title::before {
    display: none;
  }
}

.calc__arrow {
  position: absolute;
  background: url("../img/arrow-calc.png") no-repeat;
  width: 21px;
  height: 12px;
  right: 28px;
  top: 14px;
}

@media screen and (max-width: 1280px) {
  .calc__arrow {
    right: 70px;
    top: 13px;
  }
}

@media screen and (max-width: 576px) {
  .calc__arrow {
    right: 20px;
    top: 27px;
    z-index: 1;
  }
}

.calc__total {
  position: relative;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: bold;
  line-height: 36px;
  background: #008ad2;
  z-index: 1;
  text-align: center;
}

@media screen and (max-width: 876px) {
  .calc__total {
    font-size: 18px;
  }
}

@media screen and (max-width: 576px) {
  .calc__total {
    font-size: 16px;
    line-height: 22px;
    z-index: 0;
    text-align: left;
    padding-left: 10px;
  }
}

.calc__total::after {
  position: absolute;
  content: "";
  background: url("../img/calc_right.png") no-repeat;
  width: 255px;
  height: 47px;
  right: 0;
  top: -5px;
  z-index: -1;
}

@media screen and (max-width: 576px) {
  .calc__total::after {
    display: none;
  }
}

.calc__label {
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  color: #57556b;
}

.calc__slide {
  position: relative;
  height: 2px;
  width: 90%;
  background-color: #008ad2;
  margin-top: 14px;
  margin-bottom: 15px;
}

.calc__slide_accounting {
  margin-bottom: 30px;
}

@media screen and (max-width: 576px) {
  .calc__slide_accounting {
    margin-bottom: 15px;
  }
}

.calc__slide::after {
  content: "";
  position: absolute;
  background: url("../img/slide_marker.png");
  width: 13px;
  height: 20px;
  top: -14px;
  left: 20px;
}

.calc__input {
  border: 2px solid #008ad2;
  border-top-left-radius: 15px;
  border-bottom-right-radius: 15px;
  padding: 6px 0 5px 15px;
  margin-bottom: 11px;
  width: 160px;
  height: 25px;
  color: #52658d;
  font-size: 16px;
  font-weight: bold;
}

.calc__input-label {
  position: relative;
}

.calc__input-label::after {
  content: "₽";
  position: absolute;
  color: #ffffff;
  font-size: 9px;
  background: #008ad2;
  padding: 1px 5px;
  border-top-left-radius: 4px;
  border-bottom-right-radius: 4px;
  top: -10px;
  right: -15px;
}

@media screen and (max-width: 1280px) {
  .calc__input {
    margin-left: 10px;
  }
}

@media screen and (max-width: 576px) {
  .calc__input {
    margin-bottom: 25px;
  }
}

.calc__input_grey {
  padding: 5px 12px 5px 10px;
  width: 50px;
  font-size: 18px;
  color: #52658d;
  border: 2px solid #52658d;
  margin-bottom: 30px;
}

@media screen and (max-width: 1280px) {
  .calc__input_grey {
    padding-right: 0;
    margin-left: 10px;
  }
}

@media screen and (max-width: 576px) {
  .calc__input_grey {
    padding-right: 25px;
    margin-left: 10px;
  }
}

.calc__btn-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding-left: 40px;
}

@media screen and (max-width: 1280px) {
  .calc__btn-container {
    padding-left: 30px;
  }
}

@media screen and (max-width: 576px) {
  .calc__btn-container {
    padding-left: 20px;
  }
}

.calc__btn {
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  color: #ffffff;
  background: #008ad2;
  border-radius: 3px;
  border: none;
  padding: 10px;
  width: 175px;
  cursor: pointer;
}

.calc__btn:hover {
  background: #0295e4;
}

.btn-primary:active {
  background: #006faa;
}

.calc__btn_small {
  font-size: 12px;
  width: 80%;
  padding: 5px;
  margin-top: 35px;
}

@media screen and (max-width: 576px) {
  .calc__btn_small {
    width: 60%;
    margin-top: 15px;
    margin-bottom: 20px;
  }
}

.calc__btn-container_small {
  width: 100%;
}

@media screen and (max-width: 576px) {
  .calc__btn-container_small {
    width: 100%;
  }
}

.calc__col {
  padding: 50px 0 0 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (max-width: 1280px) {
  .calc__col {
    padding-left: 30px;
  }
}

@media screen and (max-width: 576px) {
  .calc__col {
    padding: 20px 0 0 20px;
    margin-top: 15px;
  }
}

.calc__slides {
  padding: 50px 0 0 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}

@media screen and (max-width: 1280px) {
  .calc__slides {
    padding-left: 30px;
  }
}

@media screen and (max-width: 576px) {
  .calc__slides {
    padding: 20px 0 0 20px;
    margin-top: 15px;
  }
}

.calc__row {
  width: 75%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (max-width: 1280px) {
  .calc__row {
    width: 70%;
  }
}

@media screen and (max-width: 1024px) {
  .calc__row {
    width: 60%;
  }
}

@media screen and (max-width: 576px) {
  .calc__row {
    width: 100%;
  }
}

.calc__col_small {
  padding-left: 20px;
}

.calc__radio-title {
  color: #ffffff;
  text-transform: uppercase;
  background: #52658d;
  font-size: 14px;
  padding: 2px;
  width: 80%;
  margin-bottom: 20px;
}

.calc__radio-label {
  padding-left: 20px;
  padding-bottom: 10px;
  display: block;
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.calc__radio {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.calc__checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 10px;
  width: 10px;
  background: #f9fdfe;
  border: 2px solid #6b7e9e;
  border-radius: 50%;
}

.calc__radio-label:hover .calc__radio ~ .calc__checkmark {
  background-color: rgb(233, 240, 245);
}

.calc__radio-label .calc__radio:checked ~ .calc__checkmark {
  background-color: #f9fdfe;
}

.calc__checkmark::after {
  content: "";
  position: absolute;
  display: none;
}

.calc__radio-label .calc__radio:checked ~ .calc__checkmark:after {
  display: block;
}

.calc__radio-label .calc__checkmark:after {
  top: 2px;
  left: 2px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #6b7e9e;
}

.title_highlight {
  color: #58546b;
  font-size: 32px;
  font-weight: bold;
  line-height: 40px;
  text-align: center;
  background: #d7e8f8;
  margin-top: 15px;
}

@media screen and (max-width: 876px) {
  .title_highlight {
    font-size: 24px;
  }
}

@media screen and (max-width: 576px) {
  .title_highlight {
    font-size: 18px;
    line-height: 24px;
  }
}

.content {
  color: #58546b;
  font-size: 18px;
  line-height: 20px;
  text-align: center;
  /* padding: 20px; */
}

.content p {
  margin: 0.67em;
}

.content * + h2 {
  margin-top: 1em;
}

@media screen and (max-width: 576px) {
  .content {
    font-size: 14px;
  }
}

.divider {
  border: 1px dashed #58546d;
  margin-top: 2em;
}

.divider_header {
  border-color: #ffffff;
}

.divider_footer {
  border: 1px solid #008ad2;
  margin: 0;
}

.advantage {
  padding: 30px 30px 10px;
  text-align: center;
}

@media screen and (max-width: 576px) {
  .advantage {
    padding: 15px;
    font-size: 14px;
  }
}

.footer__menu {
  padding: 15px;
  color: #ffffff;
}

.menu-footer {
  padding-left: 20px;
}

@media screen and (max-width: 876px) {
  .menu-footer {
    padding-left: 50px;
  }
}

@media screen and (max-width: 576px) {
  .menu-footer {
    padding-left: 20px;
  }
}

.menu-footer__link {
  color: #ffffff;
  text-decoration: none;
  padding-left: 20px;
  line-height: 18px;
  padding-bottom: 10px;
  font-size: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.menu-footer__link::before {
  content: "";
  background: url("../img/dropdown.jpg");
  position: absolute;
  top: 0;
  left: 0;
  width: 14px;
  height: 16px;
}

.menu-footer__link:hover {
  opacity: 0.8;
} 

.contacts-footer {
  text-align: right;
  line-height: 20px;
}

@media screen and (max-width: 1280px) {
  .contacts-footer {
    text-align: left;
    padding-left: 50px;
  }
}

@media screen and (max-width: 576px) {
  .contacts-footer {
    padding-left: 20px;
    padding-top: 20px;
  }
}

.address-footer {
  position: relative;
  padding-left: 120px;
  text-align: left;
  line-height: 20px;
}

@media screen and (max-width: 1280px) {
  .address-footer {
    padding-left: 50px;
  }
}

@media screen and (max-width: 576px) {
  .address-footer {
    padding-left: 20px;
    padding-top: 20px;
  }
}

.address-footer__location {
  position: absolute;
  background: url("../img/map_marker.png") no-repeat;
  width: 32px;
  height: 85px;
  top: -20px;
  left: 56px;
}

@media screen and (max-width: 1280px) {
  .address-footer__location {
    display: none;
  }
}

.address-footer__row_small {
  font-size: 12px;
}

.address-footer__row {
  padding-bottom: 10px;
}

@media screen and (max-width: 576px) {
  .address-footer__row {
    padding-bottom: 5px;
    font-size: 14px;
  }
}

.contacts-footer__phone {
  position: relative;
  padding-bottom: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (max-width: 1280px) {
  .contacts-footer__phone {
    padding-bottom: 10px;
  }
}

.contacts-footer__phone::before {
  position: absolute;
  content: "";
  background: url("../img/tel_min.png") no-repeat;
  width: 34px;
  height: 89px;
  top: -20px;
  left: 90px;
}

@media screen and (max-width: 1280px) {
  .contacts-footer__phone::before {
    display: none;
  }
}

.contacts-footer__time {
  position: relative;
  padding-bottom: 32px;
}

@media screen and (max-width: 1280px) {
  .contacts-footer__time {
    padding-bottom: 10px;
  }
}

.contacts-footer__time::before {
  position: absolute;
  content: "";
  background: url("../img/clock_min.png") no-repeat;
  width: 29px;
  height: 67px;
  top: 0;
  left: 92px;
}

@media screen and (max-width: 1280px) {
  .contacts-footer__time::before {
    display: none;
  }
}

.contacts-footer__e-mail {
  position: relative;
}

.contacts-footer__e-mail::before {
  position: absolute;
  content: "";
  background: url("../img/letter_min.png") no-repeat;
  width: 32px;
  height: 85px;
  top: 0;
  left: 92px;
}

@media screen and (max-width: 1280px) {
  .contacts-footer__e-mail::before {
    display: none;
  }
}

.contacts-footer__link {
  color: #ffffff;
  display: block;
}

.footer__logo {
  padding-bottom: 15px;
}

.logo_bottom {
  padding: 11px 30px 11px 20px;
}
